@font-face {
  font-family: gandom;
  src: url(../assets/Fonts/gandom-font/Gandom.ttf);
}

@font-face {
  font-family: kharazmi;
  src: url(../assets/Fonts/IRAN_Kharazmi/IRAN-Kharazmi.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gandom !important;
  text-align: right !important;
}

body {
  background-color: #FAFAFA;
}

/* .MuiTableCell-root {
  min-width: 116px !important;
} */