@font-face {
  font-family: gandom;
  src: url(../public/Fonts/gandom-font/Gandom.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gandom !important;
  text-align: right !important;
  text-decoration: none;
}

body {
  background-color: #FAFAFA;
}

.rmdp-container .rmdp-shadow{
  text-align: center !important;
}